.MovieAbout {
    float: left;
    padding-left: 16px;
    height: auto;
}

.MoviePoster {
    float: left;
}

.MovieScore{
    float: left;
    font-size: 32px;
}

.MovieTitle { 
    font-size: 32px;
    margin-top: 0px;
}

.MovieDescription {
    width: 480px;
    font-size: 16px;
}

.Trailer {
    padding-left: 20px;
    display: inline-block;
}