.Movie__poster{
    float: left;
    max-width: 300px;
}

.Movie__about{
    float: left;
    padding-left: 20px;
    max-width: 520px;
}

.Movie__interact{
    float: left;
    padding-left: 20px;
}

.Movie__review{
    padding: 20px;
}

.Movie__castname{
    padding: 20px;
}