.GenreTile {
  display: inline;
  height: 20px;
  // padding: 10px;
  font-size: 11px;
  background: #d9dce2;
  text-align: center;
  border-color: #a5a8a5;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  margin-left: 5px;
}
