{
  "env": {
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "settings": {
    "import/resolver": {
      "babel-plugin-root-import": {
        "rootPathPrefix": "~",
        "rootPathSuffix": "src"
      }
    }
  }
}
