.Popup {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 480px;
  transform: translate(-50%, -50%);
  overflow: visible;
  background-color: #fff;
  display: grid;
  grid-template-rows: 70px 1fr;
  grid-template-areas: "header" "content";
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

  &__wrapper {
    position: fixed;
    z-index: 100;
  }

  &__background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #000;
    opacity: 20%;
  }

  &__close-button {
    grid-area: header;
    position: relative;
    left: 100%;
    top: 0;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border: 1px solid #000;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    padding: 0;

    &--no-title {
      grid-column: header / span 2;
    }
  }

  &__title,
  &__tabs {
    grid-area: header;
    place-self: stretch;
    padding: 0;
    margin: 0;
    width: 100%;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    text-align: center;
    color: var(--gray-1);
    overflow: hidden;
  }

  &__title {
    background-color: var(--gray-4);
    font-size: 30px;
    margin-top: -0.45ex; // Adjust x-height
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray-1);
    font-weight: bold;
    background-color: var(--gray-5);
  }

  &__tab {
    color: var(--gray-3);
    font-size: 24px;
    list-style: none;
    background-color: var(--gray-4);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -0.45ex; // Adjust x-height

    &--active {
      color: var(--gray-1);
      font-weight: bold;
      background-color: var(--gray-5);
    }
  }

  &__content {
    background-color: var(--gray-6);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;

    &--no-title {
      grid-row: header / span 2;
      grid-column: header / span 1;
    }
  }
}
