.Review {
  border-bottom: 1px solid var(--gray-2);
  padding-bottom: 8px;

  &__user-avatar {
    float: left;
    padding-right: 10px;
  }

  &__meta {
    font-weight: 1.2;
  }

  &__meta-reviews {
    color: var(--gray-2);
  }

  &__content {
    font-size: 16px;
    padding-bottom: 5px;
  }

  &__date {
    color: var(--gray-2);
  }
}
