.Review {
    border-bottom: 1px solid #4F4F4F;
    padding-bottom: 8px;
}

.ReviewerProfilePicture{
    float: left;
    padding-right:10px;
}

.ReviewMeta{
    font-weight: 1.2;
}

.ReviewContent{
    font-size: 16px;
}

.ReviewDate {
    color: #4F4F4F;
}
