.MovieItem {
  display: block;
  color: unset;
  text-decoration: unset;

  &__card.MuiCard {
    &-root {
      max-width: 150px;
    }
  }

  &__media.MuiCardMedia {
    &-root {
      padding-top: 150%;
    }
  }

  &__header.MuiCardHeader {
    &-root {
      display: flex;
      align-items: center;
      padding: 8px;
    }
  }

  &__content.MuiCardContent {
    &-root {
      padding: 0 8px;

      &:last-child {
        padding-bottom: 4px;
      }
    }
  }

  &__rating {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
  }

  &__genre {
    padding: 1px 5px;
    border-radius: 4px;
    background: var(--gray-6);
    margin-bottom: 4px;
    font-size: 12px;
  }

  &__note {
    font-size: 12px;
    margin: 2px 0 4px;
  }

  .MuiTypography {
    &-body1 {
      font-size: 0.8rem;
    }

    &-body2 {
      font-size: 0.6rem;
    }

    &-h5 {
      font-size: 0.8rem;
    }
  }
}
