.MovieItem {
  display: grid;
  height: 200px;
  width: 180px;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 140px 1fr;
  grid-template-areas: "title" "subtitle" "image" "footer";
  background: #dee1e7;

  &__title {
    grid-area: title;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
  }

  &__subtitle {
    grid-area: subtitle;
    display: flex;
    flex-direction: row;
  }

  &__genres {
    font-size: 12px;
    justify-self: start;
    padding-left: 0px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-inline-start: 0px;
  }

  &__image {
    grid-area: image;
    background-color: black;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
  }
}
