.MovieSection {
  width: 100%;
  height: auto;
  float: left;

  &__Heading {
    background: linear-gradient(90deg, rgba(218, 170, 35, 0.62) 0%, rgba(115,0,65,0.2) 64%, rgba(106,0,115,0.2) 100%);
    padding: 10px 46px 10px;
    margin: 30px -26px 30px -15px;
    box-sizing: border-box;
    border-radius: 60px 0 0 0;
  }

  &__Child {
    padding: 0 20px;
  }
}

.MovieSection .HorizontalList {
  overflow-x: auto;
  padding-top: 0;
  padding-bottom: 10px;
}
