:root {
  --gray-1: #333;
  --gray-2: #4f4f4f;
  --gray-3: #828282;
  --gray-4: #c4c4c4;
  --gray-5: #e0e0e0;
  --gray-6: #f2f2f2;
  --red: #eb5757;
  --orange: #f2994a;
  --yellow: #f2c94c;
  --green-1: #219653;
  --green-2: #27ae60;
  --green-3: #6fcf97;
  --blue-1: #2f80ed;
  --blue-2: #2d9cdb;
  --blue-3: #56ccf2;
  --purple-1: #9b51e0;
  --purple-2: #bb6bd9;
  --red-dim: #d9a2a2;
  --blue-dim: #90b6e3;
  --sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --monospace: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

[style*="--aspect-ratio:"]::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 0;
  line-height: 0;
  vertical-align: middle;
  padding-bottom: calc(100% / (var(--aspect-ratio)));
}

button,
input[type="button"] {
  appearance: none;
  background-color: var(--gray-4);
  border: none;
  border-radius: 0;
  padding: 1ex 1em;

  &:focus {
    outline: none;
    box-shadow: 0 0 5px -1px var(--blue-1);
  }

  &:hover {
    filter: brightness(1.12);
    box-shadow: none;
  }

  &:active {
    filter: brightness(0.87);
    box-shadow: none;
  }
}

.App {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 120px 1fr;
  grid-template-areas: "header" "main";

  &__header {
    grid-area: header;
    display: grid;
    grid-template-columns: 250px 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "logo search menu";
    column-gap: 3.5%;
    place-self: stretch;
    background: #F7F7F7;
    position: relative;
    z-index: 2;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  }

  &__main {
    grid-area: main;
    background: #303030;
    padding-bottom: 40px;
  }
}

.Header {
  &__logo {
    grid-area: logo;
    place-self: stretch;
  }

  &__search-bar {
    grid-area: search;
    place-self: center stretch;
  }

  &__user-menu {
    grid-area: menu;
    place-self: center;
  }
}

.Footer {
  z-index: 1300;
  margin-top: 0;
  padding-top: 26px;
  padding-bottom: 30px;
  background: #DBDBDB;
  background-color: var(--gray-5);
  box-shadow: 0 50vh 0 50vh var(--gray-5);

  &__author {
    font-family: var(--monospace);
    font-size: 12px;
    margin: 0 0 8px;
  }

  &__authors {
    padding-left: 160px;
  }

  &__authors h4 {
    font-size: 22px;
    margin: 12px 0 26px;
  }

  &__logo-image {
    width: 200px;
    float: right;
    margin-right: 160px;
    margin-top: 20px;
  }
}


.MovieDetailPage.Main__movie {
  background: #F7F7F7;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  padding: 50px 26px;
  box-sizing: border-box;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
  position: relative;
}

.App__header::after {
  content: '';
  display: block;
  background: linear-gradient(90deg, rgb(255,95,0) 0%, rgb(195, 0, 188) 50%, rgba(0,189,227,1) 100%);
  width: 100%;
  position: absolute;
  z-index: 3;
  left: 0;
  bottom: 0;
  height: 5px;
}
