.SearchPage {
  display: flex;
  flex-direction: column;
  background: #f7f7f7;
  &__item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: stretch;
    height: 100%;
    margin-bottom: 16px;

    .MovieItem {
      flex: 1;

      &__card {
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        max-width: 150px !important;
        margin: auto;
      }

      &__header {
        height: 100%;
        align-items: flex-start;
      }
    }
  }

  &__list {
    width: 80%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 24px;
  }

  &__filters {
    float: left;
    margin-bottom: 20px;

  }

  &__sort {
    float: right;
    margin-bottom: 20px;
    margin-right: 20px;
  }

  &__filter-and-sort {
    width: 80%;
    margin: auto;
    vertical-align: center;
  }

  &__pagination-wrapper {
    vertical-align: center;
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
    justify-content: center;
  }

}

.SearchBar__container--open .SearchBar__suggestions-container {
  z-index: 5;
}